@import "./Global.css";

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  @apply flex pt-12;
}

.map {
  @apply rounded-lg shadow-md bg-gray-500/30 backdrop-blur-[1px];
  padding: 10px;
  text-align: center;
  flex: 1 1 60%;
  min-width: 300px;
  box-sizing: border-box;
}

.calculations {
  @apply rounded-lg shadow-md bg-gray-500/30 backdrop-blur-[1px];
  padding: 10px;
  flex: 1 1 20%;
  min-width: 300px;
  box-sizing: border-box;
}

#calculations-container {
  @apply rounded-lg shadow-md bg-gray-600/30 backdrop-blur-[1px] text-white;
}

#calculations-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

#calculations-container form {
  @apply flex flex-col gap-4 max-w-sm mx-auto;
}

#calculations-container label {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}

#calculations-container input {
  @apply bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500;
}

#calculations-container button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  @apply w-auto mx-12;
}

#calculations-container button:hover {
  background-color: #0056b3;
}


.search-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.search-bar input {
  padding: 5px;
  font-size: 14px;
}

.search-bar button {
  padding: 5px 10px;
  margin-top: 4px;
  cursor: pointer;
}

.suggestion-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  background: rgb(77, 42, 42);
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 4px 0 0 0;
}

.suggestion-list li {
  padding: 8px;
  cursor: pointer;
}

.suggestion-list li:hover {
  /* background-color: #eee; */
}
