.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-spinner img {
  width: 50px;
  height: 50px;
}

.loading-text {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #000;
}
